/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: "proxima-nova", sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    color: inherit;
}

h1 {
    font-weight: 600;
    margin: 1em 0;
}

p {
    margin: 2em 0;
}

@media (max-width: 768px) {
    .row {
        margin: 0;
    }
}

/* COVER PAGE */
.hf-coverback {
    background: #5e82af url("../img/main-bg-blue.jpg") top;
}

.hf-logocenter {

    height: 77px;
}


/* HEADER */
.hf-header {
    background: #5e82af url("../img/header-blue.jpg") left top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 77px;
}

.hf-logo {
    padding-top: 9px;
}

.hf-icon-header {
    margin-left: -8px;
}

.hf-logo-header {
    margin-left: 15px;
    height: 38px;
    margin-top: 7px;
}

.hf-social {
    padding-top: 28px;
}

.hf-social ul {
    float: right;
}

.hf-social .list-inline > li {
    padding-right: 10px;
    padding-left: 10px;
}
/* /HEADER */

/* CONTENT */
.hf-content {
    padding: 0;
}

@media (min-width: 768px) {
     .hf-content {
        padding: 6em 0;
    }
}

.hf-content ul {
    margin: 0;
    font-size: 16px;
}

.hf-content p {
    margin: 10px 0px;
    font-size: 20px;
}
/* /CONTENT */


/* FOOTER */
.hf-footer {
    color: #9d9d9d;
    padding-bottom: 2em;
    margin-top: 137px;
    font-size: 20px;
}

.hf-links ul {
    font-weight: 600;
}

@media (min-width: 768px) {
    .hf-links ul {
        float: right;
    }
}

/* /FOOTER */

/* DOWNLOAD SECTION */
.hf-download {
    padding-top: 90px;
}

.hf-align-bottom {
    margin-top: 15%;
}

@media (min-width: 768px) {
    .hf-align-bottom {
        margin-top: 90%;
    }
}

@media (min-width: 992px) {
    .hf-align-bottom {
        margin-top: 100%;
    }
}

.hf-appstore {
    /* To swap appstore and girl on mobile devices */
    display: table-footer-group;
}

.hf-girl {
    /* To swap appstore and girl on mobile devices */
    display: table-header-group;
}

.hf-girl img {
    width:100%;
    height:auto;
}

@media (min-width: 992px) {
    .hf-girl img {
        width:110%;
    }
}

.hf-appstore p {
    font-weight: 400;
    margin: 0;
    font-size: 12.4vw;
    color: #9d9d9d;
    margin-left: 3px;
    line-height: 13.6vw;
}

@media (min-width: 768px) {
    .hf-appstore p {
        font-size: 3.4vw;
        line-height: 3.6vw;
    }
}

@media (min-width: 992px) {
    .hf-align-bottom {
        font-size: 48px;
    }
}

.hf-appstore ul {
    list-style-type: none;
    margin-top: 18%;
    padding: 0;
}

.hf-appstore li {
    background: #4f74b3;
    border: 2px solid #4f74b3;
    border-radius: 15px;
    padding: 4vw 16px;
    color: #FFFFFF;
    text-align: center;
    font-size: 7vw;
    font-weight: 100;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-left: 3px;
    margin-bottom: 15px;
    width: 100%;
}

@media (min-width: 768px) {
    .hf-appstore li {
        font-size: 2.5vw;
        padding: 8px 16px;
        width: 25vw;
    }
}

@media (min-width: 992px) {
    .hf-appstore li {
        padding: 9px 16px;
    }
}

.hf-appstore a:hover {
    text-decoration: none;
}
/* /DOWNLOAD SECTION */