/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body { 
    font-family: "proxima-nova";
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    color: inherit;
}

h1 {
    font-weight: 600;
    margin: 1em 0;
}

p {
    margin: 2em 0;
}

.hf-header {
    background: #5e82af url("../img/header-blue.jpg") left top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 77px;
}

.hf-logo {
    padding-top: 9px;
}

.hf-icon-header {
    margin-left: -8px;
}

.hf-logo-header {
    margin-left: 15px;
    height: 38px;
    margin-top: 7px;
}

.hf-social {
    padding-top: 28px;
}

.hf-social ul {
    float: right;
}

.hf-social .list-inline > li {
    padding-right: 10px;
    padding-left: 10px;
}

.hf-content {
    padding: 6em 0;
}

.hf-footer {
    color: #9d9d9d;
    padding-bottom: 2em;
    margin-top: 137px;
    font-size: 20px;
}

.hf-copyright {
    float: left;
}

.hf-links {
    float: right;
    font-weight: 600;
}

.hf-links ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 20px;
}

.hf-links li {
    display: inline-block;
    padding: 0 10px;
}

.hf-download {
    padding-top: 90px;
}

.hf-align-bottom {
    margin-top: 480px;
}

.hf-appstore p {
    font-weight: 400;
    margin: 0;
    font-size: 48px;
    color: #9d9d9d;
    margin-left: 3px;
    line-height: 50px;
}

.hf-appstore ul {
    list-style-type: none;
    margin-top: 84px;
    padding: 0;
}

.hf-appstore li {
    background: #4f74b3;
    border: 2px solid #4f74b3;
    border-radius: 15px;
    padding: 9px 16px;
    color: #FFFFFF;
    text-align: center;
    font-size: 31px;
    font-weight: 100;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 280px;
    margin-left: 3px;
    margin-bottom: 15px;
}

.hf-appstore a:hover {
    text-decoration: none;
}

.hf-copyright {
    float: left;
    margin-left: 4px;
}

.hf-girl img {
    height: 870px;
}

.hf-privacy ul {
    margin: 0;
    font-size: 16px;
}

.hf-privacy p {
    margin: 10px 0px;
    font-size: 20px;
}